<div class="u-container">
    {% if cart.item_count > 0 %}
        <h1>Shopping cart</h1>
        <form action="/cart" method="post" novalidate>
            <div class="cart-layout">
                <div class="product-container__cart">
                    {% for item in cart.items %}
                        <div class="cart-product">
                            <a href="{{ item.url | within: collections.all }}" class="cart-product__image">
                                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                            </a>
                            <div class="cart-product__info">
                                <a href="{{ item.url }}">{{ item.product.title }}</a>
                                <p>{{ item.variant.title }}</p>
                                <p>{{ item.price | money }}</p>
                                <div class="input-wrapper">
                                    <label for="updates[]">Quantity:</label>
                                    <input type="number"
                                           name="updates[]"
                                           id="updates_{{ item.key }}"
                                           value="{{ item.quantity }}"
                                           min="0"
                                           class="input__sm">
                                </div>

                                {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                                {{ item.line_price | money }}
                                {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="product-container__summary">
                    <p>sub total : {{ cart.total_price | money }}</p>
                    <button class="button" type="submit" name="update">Update</button>
                    <button class="button" type="submit" name="checkout">Checkout</button>
                </div>
            </div>
        </form>
    {% else %}
        <h2>Shopping cart</h2>
        Cart is empty
    {% endif %}
</div>
